$clr-primary:gold;
$clr-white:white;
$clr-black:#333;
$clr-bg-dark:#e5ddd2;
$clr-bg-light:#fbf6f0;
$clr-primary-light:#745947;
$clr_nav:#ab9a82;
$clr-selected:#897252;
$clr-blue:#405861;
$clr-gz-white:#F7F5F3;
$clr-gz-lightish:#BBB5AC;
$clr-gz-gold:#BE996F;


*{ box-sizing: border-box;}

body { 
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: $clr-bg-dark;
  font-family: 'Playfair Display', serif;
}

header {
  height: 10vh;

  .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;  
  }

  .menu {
    background-color: $clr-bg-light;
    padding: 20px 30px;  
  }

}

.container{
  padding-left: 10vw;
}

main{
  height: 90vh;

  nav{
    position: absolute;
    top:400px;
    left:40px;   
    z-index: 20;

    .page{
      position: absolute;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background-color:$clr_nav;
      cursor: pointer;

      &:hover, &.selected{
        background-color: $clr-selected;
        height: 8px;
        width: 8px;
        left:-1px;
      }//hover/selected

      &:nth-child(2){
        top:30px;
      }//:nth-child(2)
      &:nth-child(3){
        top:60px;
      }//:nth-child(3)
      &:nth-child(4){
        top:90px;
      }//:nth-child(4)
      &:nth-child(5){
        top:120px;
      }//:nth-child(5)
      &:nth-child(6){
        top:150px;
      }//:nth-child(6)

    }//page
  }//nav


  ol.pages{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    counter-set: header 0 nextpage 1;

    > li {
      height: 100%;
      display: flex;
      counter-increment: header;

      .left-col, .right-col {
        position:relative;
        flex: 1;
        min-width: 0;
      }

      .left-col{
        z-index: 2;
      }

      .right-col {
        z-index: 1;
      }


      .image {
        height: 100%;
        background-size: cover;
      }

      
      h2{
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 600;
        color:$clr-primary-light;
        white-space: nowrap;

        &::before{
            display: block;
            margin-bottom:30px ;
            font-size: 60px;
            content:"0" counter(header) ".";//set counter and its updates automaticly       
          
          }
      
      }
      
      p {
        color: $clr-primary-light;
        line-height: 2;
        padding-right: 70px;
        font-size: 20px;
      }  
      
        footer{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;

          ol.next-pages {
            margin: 0;
            padding: 0;
            overflow: hidden;
            width: 100%;

            > li{
              counter-increment: nextpage ;

              .next-page{
                width: 100%;
                height: 150px;
                padding-left: 20px;
                background-color: $clr-bg-light;
                display: flex;
                align-items: stretch;
                align-content: center;
                justify-content: space-between;

                h3{
                  margin: 0;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  color:$clr-primary-light;
                  font-size: 25px;
                  text-transform: uppercase;
                  font-weight: 400;

                  &::before{
                    font-weight: 600;
                    font-size: 40px;
                    color: $clr-primary-light;
                    content: "0" counter(nextpage) ".";//set counter and its updates automaticly 
                  }//&::before               
                  
                }//h3

                .next-arrow{
                  display: flex;
                  align-items: center;
                  img{
                    height: 10%;
                  }
                  padding: 0 20px;
                  background-color:$clr-gz-gold;

                }//.next-arrow

                .thumbnail{
                  padding: 20px;
                  img {
                    height: 100%;
                  }
              
                }//thumbnail
      

              }//.next-page
          
            }//> li

      
          }//ol.next-pages
        }//footer


    }//li
  }//ol
}//main



