* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #e5ddd2;
  font-family: "Playfair Display", serif;
}

header {
  height: 10vh;
}
header .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header .menu {
  background-color: #fbf6f0;
  padding: 20px 30px;
}

.container {
  padding-left: 10vw;
}

main {
  height: 90vh;
}
main nav {
  position: absolute;
  top: 400px;
  left: 40px;
  z-index: 20;
}
main nav .page {
  position: absolute;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #ab9a82;
  cursor: pointer;
}
main nav .page:hover, main nav .page.selected {
  background-color: #897252;
  height: 8px;
  width: 8px;
  left: -1px;
}
main nav .page:nth-child(2) {
  top: 30px;
}
main nav .page:nth-child(3) {
  top: 60px;
}
main nav .page:nth-child(4) {
  top: 90px;
}
main nav .page:nth-child(5) {
  top: 120px;
}
main nav .page:nth-child(6) {
  top: 150px;
}
main ol.pages {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  counter-set: header 0 nextpage 1;
}
main ol.pages > li {
  height: 100%;
  display: flex;
  counter-increment: header;
  transition: all 2s ease;
}
main ol.pages > li .left-col, main ol.pages > li .right-col {
  position: relative;
  flex: 1;
  min-width: 0;
}
main ol.pages > li .left-col {
  z-index: 2;
}
main ol.pages > li .right-col {
  z-index: 1;
}
main ol.pages > li .image {
  height: 100%;
  background-size: cover;
}
main ol.pages > li h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
  color: #745947;
  white-space: nowrap;
}
main ol.pages > li h2::before {
  display: block;
  margin-bottom: 30px;
  font-size: 60px;
  content: "0" counter(header) ".";
}
main ol.pages > li p {
  color: #745947;
  line-height: 2;
  padding-right: 70px;
  font-size: 20px;
}
main ol.pages > li footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
main ol.pages > li footer ol.next-pages {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
main ol.pages > li footer ol.next-pages > li {
  counter-increment: nextpage;
}
main ol.pages > li footer ol.next-pages > li .next-page {
  width: 100%;
  height: 150px;
  padding-left: 20px;
  background-color: #fbf6f0;
  display: flex;
  align-items: stretch;
  align-content: center;
  justify-content: space-between;
}
main ol.pages > li footer ol.next-pages > li .next-page h3 {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #745947;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 400;
}
main ol.pages > li footer ol.next-pages > li .next-page h3::before {
  font-weight: 600;
  font-size: 40px;
  color: #745947;
  content: "0" counter(nextpage) ".";
}
main ol.pages > li footer ol.next-pages > li .next-page .next-arrow {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #BE996F;
}
main ol.pages > li footer ol.next-pages > li .next-page .next-arrow img {
  height: 10%;
}
main ol.pages > li footer ol.next-pages > li .next-page .thumbnail {
  padding: 20px;
}
main ol.pages > li footer ol.next-pages > li .next-page .thumbnail img {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
