 :root{
  --clr-primary:gold;
  --clr-white:white;
  --clr-black:#333;
  --clr-bg-dark:#e5ddd2;
}

*{ box-sizing: border-box;}

body{ 
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--clr-bg-dark);
  font-family: 'Playfair Display', serif;
}


header{
  height: 10vh;

}
header >.container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}
.container{
  padding-left: 10vh;
  padding-right: 4vh;
  padding-top: 2vh;

} 

