$clr-primary:gold;
$clr-white:white;
$clr-black:#333;
$clr-bg-dark:#e5ddd2;
$clr-bg-light:#fbf6f0;
$clr-primary-light:#745947;
$clr_nav:#ab9a82;
$clr-selected:#897252;
$clr-blue:#405861;
$clr-gz-white:#F7F5F3;
$clr-gz-gold:#BE996F;


*{ box-sizing: border-box;}

body { 
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: $clr-bg-dark;
  font-family: 'Playfair Display', serif;
}


header {
  height: 10vh;

  .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;  
  }

  .menu {
    background-color: $clr-bg-light;
    padding: 20px 30px;  
  }

}


.container {
  padding-left: 10vw;
} 

main{
  min-height: 90vh;

  ol.pages {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    counter-set: header 0 nextpage 1;

    > li {
      height: 100%;
      display: flex;
      counter-increment: header;

      .left-col, .right-col {
        position:relative;
        flex: 1;
      }
      .image {
        height: 100%;
        background-size: cover;

      }
    }
  }
}

